@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Navbar css */
.navbar{
    font-family: 'Poppins', sans-serif; 
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow:0 8px 6px -6px gray;
    border-bottom:  solid gray !important;
}
.nav-link{
    font-weight: 300 !important;
}
/* .active{
    border-bottom: 1px solid black ;
}  */

.navbar-brand{
    /* font-family: 'robuto','sans-serif'; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

/* footer */
.footer{
    color: white;
    padding: 25px;
    background: #000000;
    background: -webkit-linear-gradient(
        to right ,
        #434343,
        #000000
    );
    background: linear-gradient(to right,#434343,#000000);
}
.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footer a:hover{
    color: white;
    border-bottom: 1px solid #ffefba;
}
/* //////////////////////////////////////////////////// */
/* page not found */
.pnf{
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pnf-title{
    font-size: 100px;
    font-weight: 700;
}
.pnf-heading{
    font-weight: normal;
}
.pnf-btn{
    color: #000000;
    border:1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}
/* ////////////////////////////////////////////////////// */
.contact{
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* #####################################
######### Register */
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
}